*{
 margin: 0;   
 padding: 0;
 box-sizing: border-box ;
 font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #eddcd2;
}   

header{
    position: fixed;
    height: 60px;
    width: 100%;
    background: #080808;
    color: #fff;
    display: flex;
    align-items: center;

}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/* Nav List as Row */
.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* spacing between links */
  padding: 0;
  margin: 0;
  align-items: center;
}

/* List items */
.nav-list li {
  display: inline;
}

/* Nav Links */
.nav-item {
  color: white;
  text-decoration: none; /* removes underline */
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background 0.3s;
}

/* Hover & Active State */
.nav-item:hover,
.nav-item.active {
  background-color: white;
  color: #e90404;
}

.logo{
    font-size: 24px;
}

.hero{
    width: 100%;
    height: auto;
    background: url(images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 10px;
}

.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 36px;
    margin-bottom: 10px;
}

.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid #e21919;
}
.search-box button{
    background-color: #e21919;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.hero-section input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 1rem 0;
  font-size: 1rem;
  /* border-radius: 6px; */
  border: 1px solid #ccc;
}


/*          Recipe section */

.recipes{
    padding:  50px 0;
}
.recipes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 10px;
    row-gap: 20px;

}

.recipe-card{
    background: #fff;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid#ccc;
    overflow: hidden ;
    box-shadow: 0 5px 8px rgb(0,0,0,0.1);


}

.recipe-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.recipe-card h2{
    font-size: 22px;
    padding: 20px;

}
.recipe-card p{
    font-size: 18px;
    padding: 20px;
}

.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

footer{
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}

  /*       MEDIA QUERY  */


@media only screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .nav-list {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .hero h2 {
        font-size: 28px;
    }
    .hero p {
        font-size: 15px;
    }
}

